.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-header {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .form-label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 3rem;
    border: none;
    background-color: #f2f2f2;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  
  .login-button {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
    border-radius: 3rem;
    padding: 1rem 4rem;
    font-size: 1.2rem;
  }
  
  .login-button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  @media (max-width: 768px) {
    .login-container {
      height: auto;
    }
  
    .login-header {
      font-size: 2rem;
      margin-top: 2rem;
    }
  
    .form-control {
      border-radius: 2rem;
      padding: 0.5rem 1.5rem;
    }
  
    .login-button {
      padding: 1rem 3rem;
    }
  }
  